header{
    background-color: #2c3e50;
    height: 80px;
}

#jumbotron{
    background-color: #1abc9c;
}

#jumbotron img{
    width: 250px;
}

.star-line-white::before{
    content: '';
    display: inline-block;
    height: 4px;
    width: 10%;
    background-color: white;    
}

.star-line-white::after{
    content: '';
    display: inline-block;
    height: 4px;
    width: 10%;
    background-color: white;    
}

.star-line-dark::before{
    content: '';
    display: inline-block;
    height: 4px;
    width: 10%;
    background-color: #2c3e50;    
}

.star-line-dark::after{
    content: '';
    display: inline-block;
    height: 4px;
    width: 10%;
    background-color: #2c3e50;    
}

.text-darkblue{
    color: #2c3e50;
}

.fs_10{
    font-size: 2rem;
}

.fs_15{
    font-size: 2.5rem;
}

.rounded_5{
    border-radius: 15px;
}

/* ------debug------ */
 #jumbotron{
    height: 550px;
} 
